html {
    font-size: 100%;
}
body {
    font-size: 62.5%;
}
html,
body {
    margin: 0;
    padding: 0;
    
}

label {
    font-size: 1.3em;
}

.clickeable {
    cursor: pointer;
    
    &:hover {
        opacity: 0.5;
    }
}

#main-wrapper {
    /*max-width: 120em;*/
    padding: 2em 3em 4em;
    
    table {
        border: 1px solid #4b607d;
    }
    th, td, tr {
        border: none;
    }
    
    .numero_cartas {
        width: 3.5em;
        border: none;
        padding: 0;

    }
    th {
        text-align: center;
        background: #b7c9cc;
    }
    th,
    td {
        & > span {
            font-size: 1.2em;
        }
    }
    .form-control[readonly]{
        background: #e0e0e0;
    }
    .col.jugador {
        width: 10em;
    }
    .col.puntaje {
        width: 3em;
    }
    .col.input {
        width: 50px;
    }
    th.ronda-actual {
        background: #1b6d85;
        border-color: #1b6d85;
        color: white;
        border: 1px solid #1b6d85;
        border-top: none;
        border-bottom: none;
    }
    td.ronda-actual {
        border: 1px solid #1b6d85;
    }
    td.ronda-actual .form-control{
        outline: none;
        outline-offset: 0;
        box-shadow: none;
    }
    .jugador-activo {
        td, 
        .form-control{
            background: #ffdb70;
        }
        .form-control[readonly]{
            background: #dcc06b;
        }
    }
    .botonera {
        .btn {
            border-radius: 0;
            padding: 0.4em 0.8em;
        }
    }
    
    .config-partida {
        font-size: 1.2em;
        cursor: pointer;
    }
    tbody {
        .col {
            padding: 0;
        }
        .jugador {
            padding: 1em;
        }
        .form-control {
            border-radius: 0;
            border: none;
        }
    }
    
    .error,
    .error * {
        background: rgba(red, 0.1);
    }
    .table-responsive {
        border: 1px solid #ddd;
        
        .table {
            border: none;
            margin-bottom: 0;
        }
    }
    
}

#config-partida {
    ul {
        padding-left: 0;
    }
    ul, li {
        list-style: none;
    } 
}