<!-- Vista de la partida -->
<div id="juego">
    
    
    <div bases-table='juego' class="tablero">
        <!--<span ng-click='configurarPartida()' class='config-partida clickeable pull-right'><i class='fa fa-cog fa-spin-hover'></i></span>-->
        <div class='col-wrapper tabla'>
            <div class="jugadores col">
                <div class='cell cell-x2 cabecera'>
                    <span class='bottom'>Jugadores</span>
                </div>
                <div class="cell jugador fila" ng-repeat="jugador in juego.getJugadores() track by jugador.id" ng-class="{'jugador-activo': isJugadorActivo($index)}">
                    <span><i class="fa fa-caret-right actual"></i>{{ jugador.nombre }}</span>
                </div>
            </div>
            <div class="rondas col">
                <div class='botonera'>
                    <i ng-click='moveLeft()' ng-show='ui.show_move_left' class='fa fa-chevron-left pull-left clickeable mover'></i>
                    <i ng-click='moveRight()' ng-show='ui.show_move_right' class='fa fa-chevron-right pull-right clickeable mover'></i>
                </div>
                <div class='col-wrapper'>
                    <form name="rondas_form[ronda.numero]" class="ronda col" ng-repeat='ronda in rondas_to_display track by ronda.id' ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero}">
                        <div class="row cabecera cell-x2">
                            <div class="cell">
                                <span>{{ 'Ronda N° ' + ronda.numero + ' (' + ronda.numero_cartas + ' carta' + (ronda.numero_cartas > 1 ? 's' : '') + ')'}}</span>
                            </div>
                            <div class="cell col-xs-4 apuestas">
                                <span>Apuetas</span>
                            </div>
                            <div class="cell col-xs-4 bases">
                                <span>Bases</span>
                            </div>
                            <div class="cell col-xs-4 puntos">
                                <span>Puntos</span>
                            </div>
                        </div>
                        <div class="row detalle fila" ng-form="row_form" ng-repeat="jugador in juego.getJugadores() track by jugador.id" ng-class="{'jugador-activo': isJugadorActivo($index),}">
                            <div class="cell col-xs-4 apuestas" ng-class="{'error': ronda.error_apuestas || row_form['apuesta' + $index].$error.min || row_form['apuesta' + $index].$error.max || (rondas_form[ronda.numero].mostrar_errores && row_form['apuesta' + $index].$error.required)}">
                                <input type="number" name="apuesta{{ $index }}" class="form-control" ng-model="ronda.apuestas[jugador.id].bases_apostadas" min="0" max="{{ ronda.numero_cartas }}" required start-with-zero ng-change="ronda.controlarErrorApuestas(); ronda.controlarErrorIncompleto();" ng-readonly="juego.ronda_actual !== ronda.numero"/>
                            </div>
                            <div class="cell col-xs-4 bases" ng-class="{'error': ronda.error_resultados || row_form['resultado' + $index].$error.min || row_form['resultado' + $index].$error.max || (rondas_form[ronda.numero].mostrar_errores && row_form['resultado' + $index].$error.required)}">
                                <input type="number" name="resultado{{$index}}" class="form-control" ng-model="ronda.apuestas[jugador.id].bases_obtenidas" min="0" max="{{ ronda.numero_cartas }}" required start-with-zero ng-change="ronda.controlarErrorResultados(); ronda.controlarErrorIncompleto();" ng-readonly="juego.ronda_actual !== ronda.numero"/>
                            </div>
                            <div class="cell col-xs-4 puntos">
                                <input type="text" readonly class="form-control" value="{{ ronda.error_apuestas || ronda.error_resultados || !rondas_form[ronda.numero].$valid ? '--' :  ronda.apuestas[jugador.id].obtenerPuntaje(juego.configuracion.modo) }}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="puntajes col">
                <div class='cell cell-x2 cabecera'>
                    <span class='bottom'>Puntajes</span>
                </div>
                <div class="cell puntaje fila" ng-repeat="jugador in juego.getJugadores() track by jugador.id" ng-class="{'jugador-activo': isJugadorActivo($index)}">
                    <span>{{ juego.obtenerPuntajeJugador(jugador) }}</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="rondaAnterior()" ng-disabled="juego.ronda_actual === 1"><i class="fa fa-angle-left" style="margin-right: 0.5em"></i>Anterior</button>
                <button class="btn btn-primary" ng-click="rondaSiguiente()" ng-disabled="juego.ronda_actual >= juego.configuracion.numero_rondas">Siguiente<i class="fa fa-angle-right" style="margin-left: 0.5em"></i></button>
            </div>
            
        </div>
    </div>
    
    
<!--    <div bases-table='juego2' class="mtabla">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col jugador" rowspan='3'><span>Jugadores</span></th>
                    <th class="col ronda" colspan="{{ rondas_to_display.length * 3 }}">
                        <i ng-click='moveLeft()' ng-show='ui.show_move_left' class='fa fa-arrow-left pull-left clickeable'></i>
                        <span>Rondas</span>
                        <i ng-click='moveRight()' ng-show='ui.show_move_right' class='fa fa-arrow-right pull-right clickeable'></i>
                    </th>
                    <th class="col puntaje"><span ng-click='configurarPartida()' class='config-partida'><i class='fa fa-cog'></i></span></th>
                </tr>
                <tr class='rondas'>
                    <th colspan="3" class='col ronda' ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero}" ng-repeat='ronda in rondas_to_display track by ronda.id'>
                        <span>{{ ronda.numero + '° (' + ronda.numero_cartas + 'carta' + (ronda.numero_cartas > 1 ? 's' : '') + ')'}}</span>
                    </th>
                    <th class="col puntaje" rowspan='2'><span>Puntaje</span></th>
                </tr>
                <tr>
                    <th class='col input' ng-repeat-start='ronda in rondas_to_display track by ronda.id' ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero}"><span>Apuesta</span></th>
                    <th class='col input' ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero}"><span>Resultado</span></th>
                    <th class='col input' ng-repeat-end ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero}"><span>Puntos</span></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="(jugador_index, jugador) in juego.getJugadores() track by jugador.id" ng-form="rowform" ng-class="{'jugador-activo': isJugadorActivo(jugador_index)}">
                    <td class="col jugador">{{ jugador.nombre }}</td>
                    <td class='col input' ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero, 'error': ronda.error_apuestas || !rowform['apuesta' + $index].$valid}" ng-repeat-start='ronda in rondas_to_display track by ronda.id'>
                        <input type="number" name="apuesta{{ $index }}" class="form-control" ng-model="ronda.apuestas[jugador.id].bases_apostadas" min="0" max="{{ ronda.numero_cartas }}" start-with-zero ng-change="ronda.controlarErrorApuestas(); ronda.controlarErrorIncompleto();" ng-readonly="juego.ronda_actual < ronda.numero"/>
                    </td>
                    <td class='col input' ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero, 'error': ronda.error_resultados || !rowform['resultado' + $index].$valid}">
                        <input type="number" name="resultado{{$index}}" class="form-control" ng-model="ronda.apuestas[jugador.id].bases_obtenidas" min="0" max="{{ ronda.numero_cartas }}" start-with-zero ng-change="ronda.controlarErrorResultados(); ronda.controlarErrorIncompleto();" ng-readonly="juego.ronda_actual < ronda.numero"/>
                    </td>
                    <td class='col input' ng-repeat-end ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero}">
                        <input type="text" readonly class="form-control" value="{{ ronda.error_apuestas || ronda.error_resultados || !rowform['apuesta' + $index].$valid || !rowform['resultado' + $index].$valid ? '--' :  ronda.apuestas[jugador.id].obtenerPuntaje() }}"/>
                    </td>
                    <td class="col puntaje" ng-class="{'ronda-actual': juego.ronda_actual === ronda.numero}">
                        <input type="text" readonly class="form-control" value="{{ juego.obtenerPuntajeJugador(jugador) }}"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="botonera">
            <button class="btn btn-primary pull-right" ng-click="siguienteRonda()" ng-disabled="juego.ronda_actual >= juego.configuracion.numero_rondas">Siguiente ronda</button>
        </div>
    </div>-->



<!--                <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col jugador">Jugadores</th>
                <th class="col rondas">
                    Rondas
                    <span ng-click='configurarPartida()' class='pull-right config-partida'><i class='fa fa-cog'></i></span>
                </th>
                <th class="col puntaje">Puntaje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col jugador">
                    <table>
                        <tr><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr ng-repeat="jugador in juego.getJugadores() track by jugador.id">
                            <td>{{ jugador.nombre }}</td>
                        </tr>
                    </table>
                </td>
                <td class='col rondas'>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3" class='ronda' ng-repeat='ronda in juego.getRondas() track by ronda.id'>
                                    {{ $index + 1 }}° ({{ ronda.numero_cartas }} cartas)
                                </th>
                            </tr>
                            <tr>
                                <th class='col ronda' ng-repeat-start='ronda in juego.getRondas() track by ronda.id'>Apuesta</th>
                                <th class='col ronda'>Resultado</th>
                                <th class='col ronda' ng-repeat-end>Puntos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="jugador in juego.getJugadores() track by jugador.id">
                                <td class='ronda' ng-class="{'error': ronda.error_apuestas}" ng-repeat-start='ronda in juego.getRondas() track by ronda.id'>
                                    <input type="number" class="form-control" ng-model="ronda.apuestas[jugador.id].bases_apostadas" min="0" max="{{ ronda.numero_cartas }}" start-with-zero ng-change="ronda.controlarErrorApuestas()"/>
                                </td>
                                <td class='ronda' ng-class="{'error': ronda.error_resultados}">
                                    <input type="number" class="form-control" ng-model="ronda.apuestas[jugador.id].bases_obtenidas" min="0" max="{{ ronda.numero_cartas }}" start-with-zero ng-change="ronda.controlarErrorResultados()"/>
                                </td>
                                <td class='ronda' ng-repeat-end>
                                    <input type="text" readonly class="form-control" value="{{ ronda.error_apuestas || ronda.error_resultados ? '--' :  ronda.apuestas[jugador.id].obtenerPuntaje() }}"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="col puntaje">
                    <table>
                        <tr><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr ng-repeat="jugador in juego.getJugadores() track by jugador.id">
                            <td><input type="text" readonly class="form-control" value="{{ juego.obtenerPuntajeJugador(jugador) }}"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>

    </table>-->

</div>